.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.light-blue.lighten-1 {
    background-color: #003459 !important;
}

.bmw-logo {
    margin: 0.3em;
    height: 46px !important;
    width: 46px !important;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #00171f !important;
}

/* Container holding the image and the text */
.container-slider {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-slider {
  width: 100%;
  height: auto;  
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
}